node_modules/
server/node_modules/
frontend/node_modules/
client/node_modules/
server/node_modules/
package-lock.json
server/package-lock.json/
frontend/package-lock.json/
client/package-lock.json/
server/package-lock.json/
server/logfile.log
server/uncaughtException.log